
.footer {
    background-color: var(--secondary-background-color);
    padding: 60px 0;

}

// @media screen and (min-width: 768px) {
//   .footer {
//     padding-top: 0;
//   }
// }
  
.footer__container {
  display: block;
  // margin: auto;
  text-align: center;
}
    
    @media screen and (min-width: 1200px) {
      .footer__container  {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        align-items: baseline;
        // padding-top: 0;
        padding-bottom: 0;
      }
    }
    
    .footer__tablet {
      display: block;
      align-items: baseline;
    }
    
    @media screen and (min-width: 768px) {
      .footer__tablet {
        display: flex;
      }
    }

  @media screen and (min-width: 768px) {
    .footer__address-data {
      padding-left: 76px;
    }
  }

  @media screen and (min-width: 1200px) {
    .footer__address-data {
      padding-left: 0;
    }
  }

// .header__logo--color {
//   padding: 0;
//   margin-bottom: 20px;
  
//   color: var(--primary-white-color);
//   font-family: Raleway, sans-serif;
//   font-weight: 700;
//   font-size: 24px;
//   line-height: 1.17;
//   text-decoration: none;
// }


  @media screen and (min-width: 1200px) {
    .header__logo--color {
      padding-top: 0;
      padding-left: 0;
      // color: var(--primary-white-color);
      // font-family: Raleway, sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      // text-decoration: none;
      // letter-spacing: 0.03em;
      // transition: color 250ms var(--transition-cubic);
    }
  }
  
  .contact__item {
    margin-bottom: 9px;
  }
  
  .contact__address {
    color: var(--primary-white-color);
    line-height: 1.71;
    font-style: normal;
    font-weight: 400;
    transition: color var(--transition-cubic);
  }
  
  .contact__group {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color var(--transition-cubic);
  }
  
  .contact__item .link:hover,
  .contact__item .link:focus {
    color: var(--accent-color);
  }
  
  .links {
    margin-top: 60px;
  }
  
  @media screen and (min-width: 768px) {
    .links {
      margin-top: 0;
      margin-left: 165px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .links {
      // margin-top: 75px;
      margin-left: 70px;
      margin-top: 0px;
    }
  }

  .links__title {
    color: var(--primary-white-color);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  } 

  .subscribe__title {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {  
    .subscribe__title {
      margin-top: 0;
    }
  }

  .footer__icons {
    fill: var(--primary-white-color); 
  }
  @media screen and (min-width: 768px) {  
  .subscribe {
    margin-left: auto;
  }
}


    .subscribe__form {
  display: block;
  }

  @media screen and (min-width: 1200px) {
    .subscribe__form {
      display: flex;

  
      }
  }
  
  .subscribe__email {
    max-width: 450px;
    width: 100%;
    height: 50px;
    color: var(--primary-white-color);
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
    border-radius: 4px;
    padding: 15px 16px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 480px) {
    .subscribe__email {
      width: 450px;
    }
  }

  @media screen and (min-width: 1200px) {
    .subscribe__email {
      width: 358px;
    }
  }

  .subscribe__btn {
    width: 200px;
    height: 50px;
    content: "";

    font-family: inherit;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1200px) {
    .subscribe__btn {
    margin-left: 12px;
      }
  }
  
  .subscribe__icon {
    margin-left: 10px;
    fill: currentColor;
  }

.btn-mode-blue :hover,
.btn-mode-blue :focus {
  color: var(--primary-white-color);
  background-color: var(--button-pressing-color);
}